#ban{
    text-align: center;
    border-radius: 100px;
    background-color: rgb(19, 16, 16);
}
#pier{
    height: 100px;
    width: 150px;
    border-radius: 0 20px 0 20px;
    background-color: blueviolet;
    
    
    

}
#dru{
    height: 100px;
    width: 150px;
    

}
#trz{
    height: 100px;
    width: 150px;
    
}
.container {
    background-color: rgb(230, 239, 247);
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .container {
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "sidebar photo photo button"
    "footer footer footer footer"

}
.item {
    background-color: rgb(156, 135, 173);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}
.header {
    grid-area: header;
    color: rgb(253, 253, 253);
    text-shadow: 12px;
    
    
}
.sidebar {
    grid-area: sidebar;
    
}
.main {
    grid-area: main;
}
.footer {
    grid-area: footer;
    
}
.photo {
    grid-area: photo;
    height: auto;
    width: auto;
}
#buy-button {
    grid-area: button;
    color: aliceblue;
    border-radius: 10px;
    font-weight: bold;
    padding: 20px;
    margin: 1px;
}
.sidenav {
     height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
     z-index: 1; /* Stay on top */
     top: 0; /* Stay at the top */
     left: 0;
     background-color: #111; /* Black */
     overflow-x: hidden; /* Disable horizontal scroll */
     padding-top: 20px;
    }

    


